.form{
    background-image:
     linear-gradient(55deg, rgba(255, 255, 255, 0.13) 0%,rgba(36, 39, 31, 0.671) 45%,transparent 50% ),
     url("../../../Assets/Images/store.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:35rem;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(83, 111, 143, 0.5);
    padding: 20px;
}
.form-custom{
    margin-bottom: 20px;
    position: relative;
}
.form-custom label, .form-custom input{
    display: block;
}
.form-custom label{
    position: absolute;
    top: -24px;
    left: 1px;
    font-size: 18px; 
    font-weight: bold;
    color:whitesmoke;
    transition: 0.3s;
}
.form-custom input:placeholder-shown + label{
    opacity: 0;
    visibility: hidden;
    top: 20px;
}
.form-custom input {
    padding: 20px 20px;
    outline: none;
    border-radius: 5px;
    border: 0;
    background-color: rgba(207, 207, 180, 0.74);
    width: 80%;
    border-bottom: 3px solid transparent;
    font-family: "Lato",sans-serif;
    box-shadow: 0 0 11px gray inset;
    font-size: 17px;
    margin-top: 30px;
}
.form-custom input:focus{
    box-shadow: 0 0 11px gray inset;
}
.form-custom input:focus:valid{
    border-bottom: 4px solid green

}
.form-custom input:focus:not(:valid){
    border-bottom: 4px solid orangered;
    
}


.custoum-form{
    width: 50%;

}
/* .anime{
    animation: anim 20s infinite linear;
    margin-bottom: 25px;

} */
@keyframes anim{
    0%{
        color: red;
    }
    10%{
        color: green;
    }
    20%{
        color: black;
    }
    30%{
        color: blue;
    }
    40%{
        color: seagreen;
    }
    50%{
        color: coral;
    }
    60%{
        color: aqua;
    }
    70%{
        color: burlywood;
    }
    80%{
        color: darkred;
    }
    90%{
        color: rgb(160, 3, 180);
    }
    100%{
        color: gold;
    }
}
@media(max-width :992px){
    .custoum-form{
        width: 100%;
    
    }
    .form{
        background-image: linear-gradient(rgba(255,255,255,0.8)0%,rgba(255,255,255,0.8)100%),
        url("../../../Assets/Images/store.jpg");
    }
    .form-control input{
        width: 100%;
    }
   
}
